{% extends 'app/base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="container mt-5 h-75">
    <div class="row border border-primary">
        <div class="col-2" style="overflow:scroll;">>
            
            {% for usr, l_m in users %}
                <a href="{% url 'messanger:open_chat' usr.id %}">
                    <div class="card">
                        <p>{{usr.account.name}}</p>
                        <p>{{l_m}}</p>
                    </div>
                </a>
            {% endfor %}
                
        </div>
        <div 
            class="col-10 border border-primary d-flex flex-column"
            style="overflow:scroll;">
            
            {% if send_to %}
                <h3 class="align-self-center">Messages with {{send_to.account.name}}</h3>
            {% endif %}
                
            {% for message in  messages %}
                <div 
                    class="col-6 
                        {% if message.sender == user %}
                            align-self-end
                            border
                            border-success
                        {% else %}
                            align-self-start
                            border
                            border-primary
                        {% endif %}
                        text-wrap
                    ">
                    <p>{{message.sent_at}}</p>
                    <p>{{message.text}}</p>
                </div>
            {% endfor %}
                
            {% if send_to %}
                <form action="{% url 'messanger:send_mess' send_to.id %}" method="post" >
                    {% csrf_token %}
                    <div class="d-flex">
                    {{form.text|add_class:'form-control'}}
                    {% for error in form.text.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    <button type="submit" class="btn custom-btn mt-4">Submit</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}