body {
  background-color: #fffffe;
}

h1 {
  color: #045B57;
}

p {
  color: #3C3D42;
}

nav {
  background-color: #9CCD62;
}

.nav-link {
  font-size: 18px !important;
}


.jumbotron-container {
  background: rgb(246, 248, 226);
  background: linear-gradient(90deg, rgba(246, 248, 226, 1) 3%, rgba(224, 221, 202, 1) 33%, rgba(156, 205, 98, 0.9809173669467787) 100%);
  background-size: cover;
}

.custom-btn {
  background-color: #9CCD62;
  color: #fffffe;
}

.custom-btn2 {
  background-color: #68b2f7;
  color: #fffffe;
}

.logo {
  max-height: 35px;
}



.job {
  padding: 5px;
  border: 1px solid black;
}


table.jobs {
  width: 100%;
}

table.jobs td {
  padding: 5px;
  border: 1px solid black;
}

table.jobs td.bid-controls-row {
  border: none;
  padding-bottom: 20px;

}

.help-block {
  color: red;
}

.with-whitespace {
  white-space: pre-wrap;
}

.bid {
  padding: 5px;

}

.bid.accepted {
  background: #f1fff1;
}

.won-job {
  color: green;
  font-weight: bold;
}

.lost-job {
  color: red;
  font-weight: bold;
}

.margin--bottom {
  margin-bottom: 2em;
}



.custom-table {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
}

.custom-table th,
.custom-table td {
  padding: .6em;
  background: white;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.custom-table th {
  text-align: left;
}

.custom-table tr:last-child td {
  border-bottom: none;
}